
	
	<div class="limiter">
		
		<div class="container-login100">
			
			<div class="">
				<div class="" data-tilt>
					<img src="assets/images/img-01.png" alt="IMG">
				</div>

				<form class="login100-form validate-form"  [formGroup]="leadForm" (ngSubmit)="agregarLead()">
					<span class="login100-form-title">
						Dejanos tus datos y te llamaremos inmediatamente
					</span>

					<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
						<input class="input100" type="text" name="dni" placeholder="DNI" formControlName="dni">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-user" aria-hidden="true"></i>
						</span>
					</div>

					<div class="wrap-input100 validate-input" data-validate = "Password is required">
						<input class="input100" type="number" name="pass" placeholder="Telefono" formControlName="telefono">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-mobile" aria-hidden="true"></i>
						</span>
					</div>
					
					<div class="container-login100-form-btn">
						<button class="login100-form-btn" >
							Quiero que me llamen!
						</button>
						
						
					</div>

					
	
					
				</form>
			
			</div>
			
		</div>
		
	</div>
	
	

